#ToDoApp { 
    height: 500px;
    width: 70%;
    margin: auto;
    padding: 20px;

    #tasksDoneText {
        margin-top: 10px;
        color: white;
        font-size: 25px;
        text-align: center;
    }
    .title {
        color:white;
        text-align: center;

    }
    .form {
        text-align: center;

        color: white !important;
        .formInput{
            padding: 5px !important;
            width: 20%;
            background-color: #2F3237;
            border: 2px solid #7187DD;
            border-radius: 5px;
            color: white;
            font-size: 20px;
            &:focus {
                border: 2px solid #7187DD !important;
                background-color: rgba(113, 135, 221, .2);
                outline: none;
            }
            
        }

        .formButton{
            padding: 5px;
            background-color: #2F3237;
        color: white !important;
        border: 2px solid #7187DD;
        border-radius: 5px;
        cursor: pointer;
        margin-left: 4px;
        font-size: 20px;


        &:hover{
            background-color: rgba(113, 135, 221, .2);
        }

            
        }
    }


    #clearTasks {
        background-color: #7187DD;
        height: 30px;
        margin-top: 20px;
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid transparent;
        font-weight: bold;
        text-align: center;
        &:hover {
            background-color: transparent;
            border: 1px solid #7187DD;
        }
    }


}

@media (max-width: 900px) {
    .formInput{
        width: 50% !important;
    }
}


// 2F3237 7187DD 
// background-color: rgba(113, 135, 221, .2);
 
